@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

* {
    padding: 0px;
    margin: 0px;

}
h1 {
    

    text-align: center;
    font-family: 'Fredoka', sans-serif;
   
    right: 50px;
    font-size: 25px;
}


h2{
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    font-size: 2em;
    padding-bottom: 20px;
}
h3{
    font-size: 16px;
    font-family: 'Fredoka', sans-serif; 
}
li{
    display: inline;
    
    
}
li a {
    text-decoration: none;
    color: black;
    height: 150px;;
    background-color: #E5E5E5;
    margin-left: 5px;
    transition-property:background-color, color;
    transition-duration: 0,5s;
}

li a:hover, li a:focus{

color: #4387D8;


}

p{
    font-size: 12px;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: grid;
    grid-template-areas: "um dois";
    grid-template-columns: auto 200px;

}

section {
    grid-area: um;
}

aside {
    grid-area: dois;
}

#video {
    width: 200px;
}

header {
    background-color:#E5E5E5;
    padding: 20px;
    text-align: center;
}
header ul{
    display: flex;
    justify-content: flex-end;
}

nav{
    display: flex;
    
   
   
}
.nav-links{
    
    align-items: center;
    justify-content:space-between;
    width: 100%;
}
.nav-logos{

    display: flex;
    justify-content:space-between;
    width: 260px;

}
article {

    padding: 50px;
}

article#certificacoes ul{
   margin-left: 50px;
    margin-bottom: 20px;
    
}
article#certificacoes li{
    display: flex;
    align-items: center;
}
article#certificacoes ul li h3 a{
    background-color: white;
    color: black;
    font-size: 25px;
    transition-property: color;
    transition-duration: 0,5s;
}
article#certificacoes ul li h3 a:hover,
article#certificacoes ul li h3 a:focus{
    color: #4387D8;
   
}
article#certificacoes img{
    width:100px;
    height:100px;
    margin-right: 20px;
}



article#habilidades {
    display: flex;
    text-decoration: none;
    background-color: #4387D8;
    height: 150px;
    align-items: center;
}
#titulohabilidades{
    text-align: center;
    color: white;
    margin-right: 20px;
    
}

#logoshabilidades{
    display: flex;
    width: 100%;
   align-items: space-between;
   justify-content: space-between;
    
}
#logoshabilidades li{
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 80px;
    height: 80px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    color: #4387D8;
}



article#publicacoes {
    background-color: #E5E5E5;
    
}

article#artigos {
    background-color: #4387D8;
    
}

article#artigos ul{
    display: flex;
    margin-bottom: 20px;
  
}
article#artigos ul li{
    display: inline;
    margin-right: 20px;
}
article#artigos img{
    margin-right: 20px;
}
article#artigos h2{
    color: white;
}
article#artigos ul li h3 a{
    background-color: #4387D8;
    color: black;
    transition-property: color;
    transition-duration: 0,5s;
}
article#artigos ul li h3 a:hover,
article#artigos ul li h3 a:focus{
    color: white;
   
}

aside {
    background-color: #E5E5E5;
    border: 1px solid black;
    box-shadow: inset;
}

footer {
    background-color: white;
    padding: 20px;
}

#fieldset1{
    grid-area: fieldset1;
}
#fieldset2{
    grid-area: fieldset2;
}
#submit{
    grid-area: submit;
    margin-top: 20px;
    
}
label[for="nome"]{
    grid-area: labnome;
    margin-bottom: 10px;
 
}
#nome{
    grid-area: nome;
    margin-bottom: 10px;
    height: 30px;
    

}
label[for="email"]{
    grid-area: labmail;
    margin-bottom: 10px;
}
#email{
    grid-area: email;
    height: 30px;
 

}

label[for="tel"]{
    grid-area: labtel;
    margin-bottom: 10px;
}
#tel{
    grid-area: tel;
    margin-bottom: 10px;
    height: 30px;

}
label[for="url"]{
    grid-area: laburl;
    margin-bottom: 10px;
}
#url{
    grid-area: url;
    height: 30px;
 

}

fieldset{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#fieldset1{
    display: grid;
    grid-template-areas:
    "labnome nome"
    "labmail email"
    ;
    grid-template-columns: 70px 1fr;
    background-color: rgb(241, 241, 241);
    border: 1px solid black;
    padding: 20px;
    color: black;
}
#fieldset2{
    display: grid;
    grid-template-areas:
    "labtel tel"
    "laburl url"
    ;
    grid-template-columns: 70px 1fr;
    background-color: rgb(241, 241, 241);
    border: 1px solid black;
    padding: 20px;
    color: black;
}

#fieldset1 legend, #fieldset2 legend{
    background-color: rgb(0, 80, 155);
    color:white;
    width: 100%;
    padding: 10px;
}

#botaosubmit{
    display: flex;
    justify-content: center;
    
}
#submit {
    background-color: rgb(0, 80, 155);
    color:white;
    width: 540px;
    height: 40px;
 

}


@media screen and (max-width:1024px) {
    main {
        display: block;
    }

        .nav-links {
            text-decoration: none;
            display: flex;
            position: fixed;
            background: #4387D8;
            list-style: none;
            flex-direction: column;
            width: 40%;
            height: 100%;
            
           
            clip-path: inset(0% 0% 0% 0%);
            -webkit-clip-path: circle(30px at 0% -20%);
         
            overflow: scroll;
            padding: 20px;
           
            transition: all 1s ease-out;
            pointer-events: none;
        }
        
        .nav-links li  {
            width: 100%;
            display: flex;
            
           
          
        }
        .nav-links li a {
            width: 100%;
            display: flex;
            color: white;
            text-decoration: none;
            font-size: 16px;
            
          
        }
        
        
        .line {
            width: 30px;
            height: 2px;
            background: black;
            margin: 5px;
        }
        .hamburger {
           
            position: absolute;
            z-index: 1;
            cursor: pointer;
            top: 10%;
            transform: translate(-5%, -50%);
        }
      
        
        nav {
            position: relative;
         
        }
        
        .nav-links.open {
            margin-top: 20px;
            width: 60%;
            height: 100%;
            justify-content:flex-start;
            clip-path: inset(0% 0% 0% 00%);
            pointer-events: all;
        }
        .nav-links.close {
            clip-path: inset(100% 100% 100% 100%);
            pointer-events: none;
        }
        
        .nav-links li {
            opacity: 0;
            
        }
        
        .nav-links li a {
            font-size: 25px;
            background: #4387D8;
        }
        
      
        
        .nav-logos{

            display: flex;
            
            width: 100%;
            padding-bottom: 50px;
        
        }
      
        
        li.fade {
          
            opacity: 1;
        }
}

